MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=appdb
MYSQL_USER=appuser
MYSQL_PASSWORD=apppass

FRONTEND_URL=https://thinhsoft.test
BACKEND_URL=https://thinhsoft.test

NODE_ENV=development
FLASK_ENV=development